<div class="card">
    <div class="card-header">
        <h5 class="card-title">Rate Limiter</h5>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Endpoint</th>
                    <th>Status</th>
                    <th>Time Until Available</th>
                    <th>Rules</th>
                </tr>
            </thead>
            <tbody>
                {rate_limiter_rows}
            </tbody>
        </table>
    </div>
</div>
